.container{
    grid-area: segundaSeccion;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    div {
        grid-area: segundaSeccion;
        display: flex;
        margin: none;
        flex-direction: column-reverse;
        align-items: center;
        @include body($colorFondo, $textoPrimario);
    }
    img {
        max-width: 400px;
        max-height: 400px;
        margin-left: 2rem;
    }
}

.container2{
    grid-area: segundaSeccion;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    img {
        max-width: 1000px;
        max-height: 400px;
        margin-left: 2rem;
    }
}
